<p id="notice"><%= notice %></p>

<p>
  <b>Database score:</b>
  <%= @project_scorecard.database_score %>
</p>

<p>
  <b>Web app score:</b>
  <%= @project_scorecard.web_app_score %>
</p>

<p>
  <b>Design score:</b>
  <%= @project_scorecard.design_score %>
</p>

<p>
  <b>Tech plan score:</b>
  <%= @project_scorecard.tech_plan_score %>
</p>

<p>
  <b>Web dev score:</b>
  <%= @project_scorecard.web_dev_score %>
</p>

<p>
  <b>Content mgt score:</b>
  <%= @project_scorecard.content_mgt_score %>
</p>

<p>
  <b>Tech support score:</b>
  <%= @project_scorecard.tech_support_score %>
</p>

<p>
  <b>Geo infosys score:</b>
  <%= @project_scorecard.geo_infosys_score %>
</p>

<p>
  <b>Egov score:</b>
  <%= @project_scorecard.egov_score %>
</p>

<p>
  <b>Ehealth score:</b>
  <%= @project_scorecard.ehealth_score %>
</p>

<p>
  <b>Security score:</b>
  <%= @project_scorecard.security_score %>
</p>

<p>
  <b>Updated by:</b>
  <%= @project_scorecard.updated_by %>
</p>


<%= link_to 'Edit', edit_project_scorecard_path(@project_scorecard) %> |
<%= link_to 'Back', project_scorecards_path %>
