<h1>Listing partners</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address one</th>
    <th>Address two</th>
    <th>Type</th>
    <th>Description</th>
    <th>Language</th>
    <th>Living accomodation</th>
    <th>Living utilities</th>
    <th>Distance to duty station</th>
    <th>Cost of living</th>
    <th>Transportation</th>
    <th>Cost of transportation</th>
    <th>Visa fee</th>
    <th>Visa requirements</th>
    <th>Medivac details</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @partners.each do |partner| %>
  <tr>
    <td><%= partner.name %></td>
    <td><%= partner.address_one %></td>
    <td><%= partner.address_two %></td>
    <td><%= partner.type %></td>
    <td><%= partner.description %></td>
    <td><%= partner.language %></td>
    <td><%= partner.living_accomodation %></td>
    <td><%= partner.living_utilities %></td>
    <td><%= partner.distance_to_duty_station %></td>
    <td><%= partner.cost_of_living %></td>
    <td><%= partner.transportation %></td>
    <td><%= partner.cost_of_transportation %></td>
    <td><%= partner.visa_fee %></td>
    <td><%= partner.visa_requirements %></td>
    <td><%= partner.medivac_details %></td>
    <td><%= link_to 'Show', partner %></td>
    <td><%= link_to 'Edit', edit_partner_path(partner) %></td>
    <td><%= link_to 'Destroy', partner, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Partner', new_partner_path %>
