<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @partner.name %>
</p>

<p>
  <b>Address one:</b>
  <%= @partner.address_one %>
</p>

<p>
  <b>Address two:</b>
  <%= @partner.address_two %>
</p>

<p>
  <b>Type:</b>
  <%= @partner.type %>
</p>

<p>
  <b>Description:</b>
  <%= @partner.description %>
</p>

<p>
  <b>Language:</b>
  <%= @partner.language %>
</p>

<p>
  <b>Living accomodation:</b>
  <%= @partner.living_accomodation %>
</p>

<p>
  <b>Living utilities:</b>
  <%= @partner.living_utilities %>
</p>

<p>
  <b>Distance to duty station:</b>
  <%= @partner.distance_to_duty_station %>
</p>

<p>
  <b>Cost of living:</b>
  <%= @partner.cost_of_living %>
</p>

<p>
  <b>Transportation:</b>
  <%= @partner.transportation %>
</p>

<p>
  <b>Cost of transportation:</b>
  <%= @partner.cost_of_transportation %>
</p>

<p>
  <b>Visa fee:</b>
  <%= @partner.visa_fee %>
</p>

<p>
  <b>Visa requirements:</b>
  <%= @partner.visa_requirements %>
</p>

<p>
  <b>Medivac details:</b>
  <%= @partner.medivac_details %>
</p>


<%= link_to 'Edit', edit_partner_path(@partner) %> |
<%= link_to 'Back', partners_path %>
