<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @student_scorecard.user_id %>
</p>

<p>
  <b>Student application:</b>
  <%= @student_scorecard.student_application_id %>
</p>

<p>
  <b>Resume score:</b>
  <%= @student_scorecard.resume_score %>
</p>

<p>
  <b>Transcript score:</b>
  <%= @student_scorecard.transcript_score %>
</p>

<p>
  <b>Statement of interest score:</b>
  <%= @student_scorecard.statement_of_interest_score %>
</p>

<p>
  <b>Special class score:</b>
  <%= @student_scorecard.special_class_score %>
</p>

<p>
  <b>Database score:</b>
  <%= @student_scorecard.database_score %>
</p>

<p>
  <b>Web app score:</b>
  <%= @student_scorecard.web_app_score %>
</p>

<p>
  <b>Design score:</b>
  <%= @student_scorecard.design_score %>
</p>

<p>
  <b>Tech plan score:</b>
  <%= @student_scorecard.tech_plan_score %>
</p>

<p>
  <b>Web dev score:</b>
  <%= @student_scorecard.web_dev_score %>
</p>

<p>
  <b>Content mgt score:</b>
  <%= @student_scorecard.content_mgt_score %>
</p>

<p>
  <b>Tech support score:</b>
  <%= @student_scorecard.tech_support_score %>
</p>

<p>
  <b>Geo infosys score:</b>
  <%= @student_scorecard.geo_infosys_score %>
</p>

<p>
  <b>Egov score:</b>
  <%= @student_scorecard.egov_score %>
</p>

<p>
  <b>Ehealth score:</b>
  <%= @student_scorecard.ehealth_score %>
</p>

<p>
  <b>Security score:</b>
  <%= @student_scorecard.security_score %>
</p>

<p>
  <b>Updated by:</b>
  <%= @student_scorecard.updated_by %>
</p>


<%= link_to 'Edit', edit_student_scorecard_path(@student_scorecard) %> |
<%= link_to 'Back', student_scorecards_path %>
