<%= form_for(@project_application) do |f| %>
  <% if @project_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_application.errors.count, "error") %> prohibited this project_application from being saved:</h2>

      <ul>
      <% @project_application.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :partner_id %><br />
    <%= f.number_field :partner_id %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :number_of_consultants %><br />
    <%= f.number_field :number_of_consultants %>
  </div>
  <div class="field">
    <%= f.label :accepted %><br />
    <%= f.check_box :accepted %>
  </div>
  <div class="field">
    <%= f.label :open %><br />
    <%= f.check_box :open %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
