<h1>Listing project_applications</h1>

<table>
  <tr>
    <th>Partner</th>
    <th>Description</th>
    <th>Number of consultants</th>
    <th>Accepted</th>
    <th>Open</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @project_applications.each do |project_application| %>
  <tr>
    <td><%= project_application.partner_id %></td>
    <td><%= project_application.description %></td>
    <td><%= project_application.number_of_consultants %></td>
    <td><%= project_application.accepted %></td>
    <td><%= project_application.open %></td>
    <td><%= link_to 'Show', project_application %></td>
    <td><%= link_to 'Edit', edit_project_application_path(project_application) %></td>
    <td><%= link_to 'Destroy', project_application, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project application', new_project_application_path %>
