<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @project_application.description %>
</p>

<p>
  <b>Number of consultants:</b>
  <%= @project_application.number_of_consultants %>
</p>

<p>
  <b>Accepted:</b>
  <%= @project_application.accepted %>
</p>


<%= link_to 'Edit', edit_project_application_path(@project_application) %> |
<%= link_to 'Back', project_applications_path %>
