<%= form_for(@student_application) do |f| %>
  <% if @student_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student_application.errors.count, "error") %> prohibited this student_application from being saved:</h2>

      <ul>
      <% @student_application.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :resume %><br />
    <%= f.text_field :resume %>
  </div>
  <div class="field">
    <%= f.label :transcript %><br />
    <%= f.text_field :transcript %>
  </div>
  <div class="field">
    <%= f.label :statement_of_interest %><br />
    <%= f.text_field :statement_of_interest %>
  </div>
  <div class="field">
    <%= f.label :accepted %><br />
    <%= f.check_box :accepted %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
