<h1>Listing student_applications</h1>

<table>
  <tr>
    <th>Resume</th>
    <th>Transcript</th>
    <th>Statement of interest</th>
    <th>Accepted</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @student_applications.each do |student_application| %>
  <tr>
    <td><%= student_application.resume %></td>
    <td><%= student_application.transcript %></td>
    <td><%= student_application.statement_of_interest %></td>
    <td><%= student_application.accepted %></td>
    <td><%= link_to 'Show', student_application %></td>
    <td><%= link_to 'Edit', edit_student_application_path(student_application) %></td>
    <td><%= link_to 'Destroy', student_application, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Student application', new_student_application_path %>
